<H1>Accept or Decline</h1>

<% if offer do %>

    <button type="button" class="btn btn-primary">Accept This Child</button>
    <button type="button" class="btn btn-danger">Decline This Child</button>
    
<% end %>

<% if request do %>

    <button type="button" class="btn btn-primary">Accept This Child</button>
    <button type="button" class="btn btn-danger">Decline This Child</button>
<% end %>