<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">View Child Share Job Board</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Post An Offer To Watch A Child</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Post A Request For A Sitter</a>
  </li>
</ul>