<div class='nested-fields'>
  <%= f.input :first_name, required: false, hint: 'required' %>
  <%= f.input :last_name, required: false, hint: 'required' %>
  <%= f.input :birthdate, required: false, hint: 'required' %>
  <%= link_to_remove_association 'remove child', f %>
</div>